In [2]:
import pandas as pd

In [3]:
# loading the dataset
df = catalog.load('market_data')
df.head()

[10/19/23 12:19:18] INFO     Loading data from 'market_data' (CSVDataSet)...                    ]8;id=354997;file:///usr/local/lib/python3.11/site-packages/kedro/io/data_catalog.py\data_catalog.py]8;;\:]8;id=727326;file:///usr/local/lib/python3.11/site-packages/kedro/io/data_catalog.py#492\492]8;;\

              datetime        open        high         low       close
0  2023-10-13 00:00:00  1870.67004  1871.59998  1870.62000  1871.26001
1  2023-10-12 23:45:00  1870.87000  1871.19995  1870.62000  1870.66003
2  2023-10-12 23:30:00  1870.98999  1871.31995  1870.76001  1870.88000
3  2023-10-12 23:15:00  1870.58997  1871.25000  1870.43994  1871.04004
4  2023-10-12 23:00:00  1869.77002  1870.82996  1869.77002  1870.57996

In [4]:
# spliting the datatime column into date and time
df['date'] = pd.to_datetime(df['datetime']).dt.date
df['time'] = pd.to_datetime(df['datetime']).dt.time
df.head()

,datetime,open,high,low,close,date,time
0,2023-10-13 00:00:00,1870.67004,1871.59998,1870.62000,1871.26001,2023-10-13,00:00:00
1,2023-10-12 23:45:00,1870.87000,1871.19995,1870.62000,1870.66003,2023-10-12,23:45:00
2,2023-10-12 23:30:00,1870.98999,1871.31995,1870.76001,1870.88000,2023-10-12,23:30:00
3,2023-10-12 23:15:00,1870.58997,1871.25000,1870.43994,1871.04004,2023-10-12,23:15:00
4,2023-10-12 23:00:00,1869.77002,1870.82996,1869.77002,1870.57996,2023-10-12,23:00:00

In [5]:
# set date and time as index
df.set_index(["date", "time"], inplace=True)
df.head()

                                datetime        open        high         low  \
date       time
2023-10-13 00:00:00  2023-10-13 00:00:00  1870.67004  1871.59998  1870.62000
2023-10-12 23:45:00  2023-10-12 23:45:00  1870.87000  1871.19995  1870.62000
           23:30:00  2023-10-12 23:30:00  1870.98999  1871.31995  1870.76001
           23:15:00  2023-10-12 23:15:00  1870.58997  1871.25000  1870.43994
           23:00:00  2023-10-12 23:00:00  1869.77002  1870.82996  1869.77002

                          close
date       time
2023-10-13 00:00:00  1871.26001
2023-10-12 23:45:00  1870.66003
           23:30:00  1870.88000
           23:15:00  1871.04004
           23:00:00  1870.57996

In [8]:
# Drop datetime column
df.drop(labels="datetime", axis=1,inplace=True)
df.head()

                           open        high         low       close
date       time
2023-10-13 00:00:00  1870.67004  1871.59998  1870.62000  1871.26001
2023-10-12 23:45:00  1870.87000  1871.19995  1870.62000  1870.66003
           23:30:00  1870.98999  1871.31995  1870.76001  1870.88000
           23:15:00  1870.58997  1871.25000  1870.43994  1871.04004
           23:00:00  1869.77002  1870.82996  1869.77002  1870.57996

In [9]:
# Calculate the difference between the close and open
df['oc_difference'] = df['close'] - df['open']
df.head()

                           open        high         low       close  \
date       time
2023-10-13 00:00:00  1870.67004  1871.59998  1870.62000  1871.26001
2023-10-12 23:45:00  1870.87000  1871.19995  1870.62000  1870.66003
           23:30:00  1870.98999  1871.31995  1870.76001  1870.88000
           23:15:00  1870.58997  1871.25000  1870.43994  1871.04004
           23:00:00  1869.77002  1870.82996  1869.77002  1870.57996

                     oc_difference
date       time
2023-10-13 00:00:00        0.58997
2023-10-12 23:45:00       -0.20997
           23:30:00       -0.10999
           23:15:00        0.45007
           23:00:00        0.80994